@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Playfair+Display&display=swap");

.home {
  /* background-image: url("/disco.jpg"); */
  background-size: cover;
  height: 100vh;
  font-family: "Fascinate";
}

.NavBar {
  /* padding: 10%; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* background: transparent; */
  padding: 25px;
  font-size: 1.5rem;
  color: rgb(248, 133, 210);
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgb(59, 17, 114, 0.25);
  /* background-color: black; */
}

.NavBar a {
  /* padding: 5px 10px 5px 10px; */
  /* background-color: rgb(80, 22, 156, 0.5); */
  /* border-radius: 15px; */
}

.logo {
  background-image: url("/logo.png");
  position: absolute;
  background-size: cover;
  top: -100px;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.navItems {
  display: flex;
  justify-content: space-between;
  width: 30%;
  gap: 2rem;
}

/* Card Css */
.container {
  border: 15px solid pink;
  background-color: black;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardHome {
  /* border: 1px green solid; */
  display: flex;
  gap: 150px;
  justify-content: center;
  /* grid-column: 1; */
  margin-top: 35%;
  height: 100%;
}

.cardTitle {
  display: flex;
  justify-content: center;
}
