@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Playfair+Display&display=swap");

.home {
  background-image: url("/disco.jpg");
  background-size: cover;
  height: 100vh;
  font-family: "Fascinate";
}

.NavBar {
  /* padding: 10%; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* background: transparent; */
  padding: 25px;
  font-size: 2rem;
  color: rgb(248, 133, 210);
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* background-color: black; */
}

.NavBar a {
  padding: 5px;
  background-color: rgb(80, 22, 156);
  border-radius: 25px;
  border: 2px rgb(80, 22, 156) solid;
}

.logo {
  /* border: 1px solid green; */
  background-image: url("/logo.png");
  /* height: 20%; */
  background-size: cover;
  height: 82%;
  top: 1px;
  /* padding-left: 25px; */
}

.navItems {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.navItems a {
  /* border: 1px solid yellow; */
  /* padding: 5px;
  background-color: rgb(80, 22, 156);
  border-radius: 25px;
  border: 2px rgb(80, 22, 156) solid; */
}
